{
    "$schema": "https://www.krakend.io/schema/v2.5/krakend.json",
    "version": 3,
    "name": "Yinflow Gateway",
    "port": 8080,
    "cache_ttl": "3600s",
    "use_h2c": true,
    "timeout": "5s",
    "output_encoding": "json",
    "extra_config": {
        "security/cors": {
            "allow_origins": [
                "*"
            ],
            "allow_methods": [
                "GET",
                "POST"
            ],
            "allow_headers": [
                "Content-Type",
                "Authorization",
                "X-API-KEY"
            ]
        }
    },
    "endpoints": [
      {
          "endpoint": "/items/pro_professionals",
          "method": "GET",
          "input_headers": [
              "Authorization"
          ],
          "extra_config": {
            "modifier/lua-proxy": {
              "pre": "local key = request.headers['X-API-KEY']; print(key == '{{ env "KRAKEND_API_KEY" }}')"
            }
          },
          "backend": [
              {
                  "host": [
                      "{{ env "DIRECTUS_BASE_URL" }}"
                  ],
                  "url_pattern": "/items/pro_professionals",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      }
  ]
}