{
    "$schema": "https://www.krakend.io/schema/v2.5/krakend.json",
    "version": 3,
    "name": "Yinflow Gateway",
    "port": 8080,
    "cache_ttl": "3600s",
    "use_h2c": true,
    "timeout": "60s",
    "output_encoding": "json",
    "host": [ "{{ env "DIRECTUS_BASE_URL" }}" ],
    "extra_config": {
        "security/cors": {
            "allow_origins": [
                "*"
            ],
            "allow_methods": [
                "GET",
                "POST"
            ],
            "allow_headers": [
                "Content-Type",
                "Authorization"
            ]
        }, 
        "modifier/lua-endpoint": {
            "pre": "local c = ctx.load(); if c:headers('Authorization') ~= 'Bearer {{ env "KRAKEND_API_KEY" }}' then error('Invalid Token!') end;"
        }
    },
    "endpoints": [
      {
          "endpoint": "/items/pro_professionals",
          "method": "GET",
          "input_query_strings": ["*"],
          "backend": [
              {
                  "url_pattern": "/items/pro_professionals",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      },
      {
          "endpoint": "/items/pro_professional_companies",
          "method": "GET",
          "input_query_strings": ["*"],
          "backend": [
              {
                  "url_pattern": "/items/pro_professional_companies",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/8f80566e-c262-40f1-a47e-bac429bdbf11",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/8f80566e-c262-40f1-a47e-bac429bdbf11"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/81d2e9ef-a62d-417d-b96a-43cf6b06933b",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/81d2e9ef-a62d-417d-b96a-43cf6b06933b"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/5316688e-4e21-43e7-a9a2-47a00c1e19b8",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/5316688e-4e21-43e7-a9a2-47a00c1e19b8"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/6d9df255-0632-4447-961b-b66970e27cb9",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/6d9df255-0632-4447-961b-b66970e27cb9"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/b050f271-e7e6-4020-82a3-1e10b7432bf1",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/b050f271-e7e6-4020-82a3-1e10b7432bf1"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/7ce70b2c-8828-4d2e-bc7e-ea5dad16f234",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/7ce70b2c-8828-4d2e-bc7e-ea5dad16f234"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/69564feb-e8a0-4798-b7c4-5eaba8d10d74",
          "method": "POST",
          "output_encoding": "no-op",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/69564feb-e8a0-4798-b7c4-5eaba8d10d74"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/c855d18e-d014-4754-9d52-c96edefd01ae",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/c855d18e-d014-4754-9d52-c96edefd01ae"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/cdb64eb6-5525-4c28-87c5-a9d6bf7045c0",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/cdb64eb6-5525-4c28-87c5-a9d6bf7045c0"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/d603088e-ee29-4ae7-a3da-e2a3835a66c8",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/d603088e-ee29-4ae7-a3da-e2a3835a66c8"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/55a69c6e-d5bb-450b-9380-83450ce7765d",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/55a69c6e-d5bb-450b-9380-83450ce7765d"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/4ba86167-6e43-4757-b747-538e4669f9af",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/4ba86167-6e43-4757-b747-538e4669f9af"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/255e5e47-cf7d-4e19-8e1d-67895419b5a5",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/255e5e47-cf7d-4e19-8e1d-67895419b5a5"
              }
          ]
      },
      {
          "endpoint": "/files",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/files",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/f682a837-e2b2-452c-91ff-f3e7933bbe57",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/f682a837-e2b2-452c-91ff-f3e7933bbe57"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/0a98ee78-074c-4c3b-910a-fac1c574f06f",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/0a98ee78-074c-4c3b-910a-fac1c574f06f"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/2476c88d-e7e6-4eed-9188-66e5c4ef6e15",
          "method": "POST",
          "output_encoding": "no-op",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/2476c88d-e7e6-4eed-9188-66e5c4ef6e15"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/dcf15d86-3806-4bf4-8150-daffb50b698f",
          "method": "POST",
          "backend": [
              {
                  "host": [ "{{ env "YINAI_BASE_URL" }}" ],
                  "url_pattern": "/flows/trigger/dcf15d86-3806-4bf4-8150-daffb50b698f"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/01fb4c47-f398-4c78-b466-068f2664d0cc",
          "method": "POST",
          "backend": [
              {
                  "host": [ "{{ env "YINAI_BASE_URL" }}" ],
                  "url_pattern": "/flows/trigger/01fb4c47-f398-4c78-b466-068f2664d0cc"
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/efd5f28d-de24-4b67-853e-0ff3257ae091",
          "method": "POST",
          "backend": [
              {
                  "host": [ "{{ env "YINAI_BASE_URL" }}" ],
                  "url_pattern": "/flows/trigger/efd5f28d-de24-4b67-853e-0ff3257ae091"
              }
          ]
      },
      {
          "endpoint": "/bookings",
          "method": "POST",
          "backend": [
              {
                  "host": [ "https://api.agenda.yinflow.life" ],
                  "url_pattern": "/v2/bookings"
              }
          ]
      },
      {
          "endpoint": "/slots/reservations",
          "method": "POST",
          "backend": [
              {
                  "host": [ "https://api.agenda.yinflow.life" ],
                  "url_pattern": "/v2/slots/reservations"
              }
          ]
      }
  ]
}