{
    "$schema": "https://www.krakend.io/schema/v2.5/krakend.json",
    "version": 3,
    "name": "Yinflow Gateway",
    "port": 8080,
    "cache_ttl": "3600s",
    "use_h2c": true,
    "timeout": "5s",
    "output_encoding": "json",
    "host": [ 
      "{{ env "DIRECTUS_BASE_URL" }}"
    ],
    "input_headers": [
      "Authorization",
      "Content-Type",
      "X-API-KEY"
    ],
    "extra_config": {
        "security/cors": {
            "allow_origins": [
                "*"
            ],
            "allow_methods": [
                "GET",
                "POST"
            ],
            "allow_headers": [
                "Content-Type",
                "Authorization",
                "X-API-KEY"
            ]
        },
        "modifier/lua-proxy": {
            "post": "local r = response.load(); r:headers('Authorization', '{{ env "DIRECTUS_API_KEY" }}');"
        }
    },
    "endpoints": [
      {
          "endpoint": "/items/pro_professionals",
          "method": "GET",
          "input_query_strings": ["*"],
          "backend": [
              {
                  "url_pattern": "/items/pro_professionals"
              }
          ]
      },
      {
          "endpoint": "/items/pro_professional_companies",
          "method": "GET",
          "input_query_strings": ["*"],
          "backend": [
              {
                  "url_pattern": "/items/pro_professional_companies",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      },
      {
          "endpoint": "/flows/trigger/8f80566e-c262-40f1-a47e-bac429bdbf11",
          "method": "POST",
          "backend": [
              {
                  "url_pattern": "/flows/trigger/8f80566e-c262-40f1-a47e-bac429bdbf11",
                  "extra_config": {
                    "modifier/martian": {
                      "header.Append": {
                        "scope": [
                          "request", "response"
                        ],
                        "name": "Authorization",
                        "value": "Bearer {{ env "DIRECTUS_API_KEY" }}"
                      }
                    }
                  }
              }
          ]
      }
  ]
}